In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import cv2

In [ ]:
!pip install keras-ocr

In [ ]:
import keras_ocr

In [ ]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
#https://drive.google.com/file/d/120oRV5ulueO4pBwniEhHMY8ufCVEciXb/view?usp=sharing
downloaded = drive.CreateFile({'id':'120oRV5ulueO4pBwniEhHMY8ufCVEciXb'}) 
downloaded.GetContentFile('ocr2_data.csv')  
test = pd.read_csv('ocr2_data.csv')

In [ ]:
test.head()

   Unnamed: 0  ...                                               Text
0           0  ...   when people ask what i in see you ijust and s...
1           1  ...   love too beautiful is to be hidden in the closet
2           2  ...    orbrf oizbrf ozbrf is oibrf re hue oabre oiabrf
3           3  ...   s people hate may you c for different being a...
4           4  ...   tar r igu ahlte cming tloet authorol hon iri ...

[5 rows x 4 columns]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
text=[""]*239

In [ ]:
pipeline = keras_ocr.pipeline.Pipeline()
for i in range(90,239):
  print(i)
  #pipeline12 = keras_ocr.pipeline.Pipeline()
  name=test.at[i,'Filename']
  name = "/content/drive/My Drive/Dataset/" + name
  image=[keras_ocr.tools.read(name)]
  prediction = pipeline.recognize(image)
  for j in range(len(prediction[0])):
    text[i] += str(" " + prediction[0][j][0])

In [ ]:
text1=text

In [ ]:
text[88]

''

In [ ]:
len(text1)

239

In [ ]:
for i in range(0,89):
  text1[i]=test.at[i,'Text']

In [ ]:
text69=[""]

In [ ]:
pipeline = keras_ocr.pipeline.Pipeline()
name=test.at[69,'Filename']
name = "/content/drive/My Drive/Dataset/" + name
image=[keras_ocr.tools.read(name)]
prediction = pipeline.recognize(image)
for j in range(len(prediction[0])):
  text69 += str(" " + prediction[0][j][0])

Looking for /root/.keras-ocr/craft_mlt_25k.h5
Looking for /root/.keras-ocr/crnn_kurapan.h5

In [ ]:
text1[88]

nan

In [ ]:
len(text69)

129

In [ ]:
len(prediction[0])

24

In [ ]:
text[69]=""

In [ ]:
for i in range(24):
  text[69] += str(" " + prediction[0][i][0])

In [ ]:
text[69]

' al lot of parents will do anything for their kids except let them be themselves o fo being proud gay quotes geckoandfly www com'

In [ ]:
text1[69]=text[69]

In [ ]:
text1[68]

' love s wve'

In [ ]:
test.head()

   Unnamed: 0  ...                                               Text
0           0  ...   when people ask what i in see you ijust and s...
1           1  ...   love too beautiful is to be hidden in the closet
2           2  ...    orbrf oizbrf ozbrf is oibrf re hue oabre oiabrf
3           3  ...   s people hate may you c for different being a...
4           4  ...   tar r igu ahlte cming tloet authorol hon iri ...

[5 rows x 4 columns]

In [ ]:
text1[0]

' when people ask what i in see you ijust and smile look because away afraid if im they knew theyd fall in love with toos you'

In [ ]:
test.drop(columns='Text',axis=1)

     Unnamed: 0      Filename  Category
0             0  Test1001.jpg       NaN
1             1  Test1012.jpg       NaN
2             2  Test1022.jpg       NaN
3             3  Test1071.jpg       NaN
4             4  Test1122.jpg       NaN
..          ...           ...       ...
234         234   Test243.jpg       NaN
235         235   Test244.jpg       NaN
236         236   Test245.jpg       NaN
237         237   Test249.jpg       NaN
238         238   Test250.jpg       NaN

[239 rows x 3 columns]

In [ ]:
test['Text']=text1

In [ ]:
test.head()

   Unnamed: 0  ...                                               Text
0           0  ...   when people ask what i in see you ijust and s...
1           1  ...   love too beautiful is to be hidden in the closet
2           2  ...    orbrf oizbrf ozbrf is oibrf re hue oabre oiabrf
3           3  ...   s people hate may you c for different being a...
4           4  ...   tar r igu ahlte cming tloet authorol hon iri ...

[5 rows x 4 columns]

In [ ]:
test.tail()

     Unnamed: 0  ...                                               Text
234         234  ...                        lgbto reedon mldale ent swe
235         235  ...
236         236  ...   antibullying prohibiting states that have bul...
237         237  ...
238         238  ...                   best gay s quotes gdblog net www

[5 rows x 4 columns]

In [ ]:
from google.colab import files

test.to_csv('ocr_final_data.csv')
files.download('ocr_final_data.csv')