In [ ]:
import numpy as np
import pandas as pd
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
import seaborn as sns
import re
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split

In [ ]:
# For increasing the efficiency of colab
!pip install -q --upgrade ipython
!pip install -q --upgrade ipykernel

     |████████████████████████████████| 788kB 2.6MB/s
     |████████████████████████████████| 358kB 15.7MB/s
ERROR: jupyter-console 5.2.0 has requirement prompt-toolkit<2.0.0,>=1.0.0, but you'll have prompt-toolkit 3.0.5 which is incompatible.
ERROR: google-colab 1.0.0 has requirement ipython~=5.5.0, but you'll have ipython 7.16.1 which is incompatible.
     |████████████████████████████████| 122kB 2.7MB/s
ERROR: jupyter-console 5.2.0 has requirement prompt-toolkit<2.0.0,>=1.0.0, but you'll have prompt-toolkit 3.0.5 which is incompatible.
ERROR: google-colab 1.0.0 has requirement ipykernel~=4.10, but you'll have ipykernel 5.3.2 which is incompatible.
ERROR: google-colab 1.0.0 has requirement ipython~=5.5.0, but you'll have ipython 7.16.1 which is incompatible.

In [ ]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
#https://drive.google.com/file/d/1f-7A2V4CmJs3dF3xQsfflAgyB51qzfZ-/view?usp=sharing
downloaded = drive.CreateFile({'id':'1f-7A2V4CmJs3dF3xQsfflAgyB51qzfZ-'}) 
downloaded.GetContentFile('train_clean_data.csv')  
data = pd.read_csv('train_clean_data.csv')

In [ ]:
stemmer = PorterStemmer()

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
data.head()

   Unnamed: 0                                               Text  label
0           0    peopl tweet advic combat tear ga iran iranelect      0
1           1  go 2 anberlin show 2nite ticket sold doc gave ...      0
2           2  woke lot wisdom teeth drama gotta get thing re...      0
3           3                tom teel yet dude gonna buy new one      0
4           4                   everytim fall asleep dream haunt      0

In [ ]:
data = data.drop(labels=['Unnamed: 0'],axis=1)
data.head()

                                                Text  label
0    peopl tweet advic combat tear ga iran iranelect      0
1  go 2 anberlin show 2nite ticket sold doc gave ...      0
2  woke lot wisdom teeth drama gotta get thing re...      0
3                tom teel yet dude gonna buy new one      0
4                   everytim fall asleep dream haunt      0

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Text    199937 non-null  object
 1   label   200000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 3.1+ MB

In [ ]:
y = data['label']

In [ ]:
cv = CountVectorizer(max_features=5000,ngram_range=(1,3))
X = cv.fit_transform(data['Text'].values.astype('U')).toarray()

In [ ]:
xtrain,xtest,ytrain,ytest = train_test_split(X,y,test_size=0.15,random_state=42)

In [ ]:
from sklearn.naive_bayes import MultinomialNB
classifier=MultinomialNB()

In [ ]:
from sklearn import metrics
classifier.fit(xtrain, ytrain)
pred = classifier.predict(xtest)
score = metrics.accuracy_score(ytest, pred)
print("accuracy:   %0.3f" % score)
#cm = metrics.confusion_matrix(ytest, pred)
#plot_confusion_matrix(cm, classes=['FAKE', 'REAL'])

In [ ]:
# https://drive.google.com/file/d/1c6f6uGi9YGjsv2Oernkr7cf9bVTgzpRj/view?usp=sharing
downloaded = drive.CreateFile({'id':'1_VWF8om2pO4Bn77WygW-ggXKHFffY8k6'}) 
downloaded.GetContentFile('ocr_final_data.csv')  
data1 = pd.read_csv('ocr_final_data.csv')

In [ ]:
predtext=[]

In [ ]:
for i in range(239):
    sentence = re.sub('[^a-zA-Z123456789\n]', ' ', str(data1['Text'][i]))
    sentence = sentence.lower()
    sentence = sentence.split()
    sentence = [stemmer.stem(word) for word in sentence if not word in stopwords.words('english')]
    sentence = ' '.join(sentence)
    predtext.append(sentence)

In [ ]:
cv1 = CountVectorizer(max_features=10000,ngram_range=(1,3))
Xpredict = cv1.fit_transform(predtext).toarray()